body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0D5C63;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.header{
    background-color: #247B7B;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #0A454A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo img{
    max-width: 70%;
    max-height: 70%;
    height: auto;
    width: auto;
}

.greeting-text{
    font-size: 1.5em;
    color: #fffffa;
    font-weight: 700;
}

.logout-button {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.logout-button:hover {
    background-color: #FF4500;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fffffa;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #0D5C63;
}
/* Container utama dengan dua kolom: tabel periodik dan detail unsur */
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
}

.periodic-section {
    flex: 3; /* Allow the periodic section to take up remaining space */
    margin: 50px;
    margin-top: 60px;
    margin-right: 0px;
    box-sizing: border-box;
}

.details-section {
    flex: 2;
    padding: 20px;
    background-color: #44A1A0;
    height: 100%;
    margin-top: 0px;
    margin-left: 50px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Styling tabel periodik */
.periodic-table {
    padding: 20px;
    border-radius: 10px;
    background-color: #fffffa;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 0px;
    overflow-x: scroll;
    box-shadow: 15px 15px 0 #0A454A;
}

button.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 1px solid #53080800;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin: 1px;
    border-radius: 10px;
    aspect-ratio: 1;
}

button.element.non-logam{
    background-color: #85cdfa;
}
button.element.non-logam:focus {
    border: 3px solid #32ADFA;
    outline: none;
}
button.element.non-logam:hover {
    background-color: #7AADCC;
}
button.element.logam-alkali{
    background-color: #e0ffff;
}
button.element.logam-alkali:focus {
    border: 3px solid #8CFFFF;
    outline: none;
}
button.element.logam-alkali:hover {
    background-color: #EBFFFF;
}
button.element.alkali-tanah{
    background-color: #f08080;
}
button.element.alkali-tanah:focus {
    border: 3px solid #F06060;
    outline: none;
}
button.element.alkali-tanah:hover {
    background-color: #805959;
}
button.element.logam-transisi{
    background-color: #e6e6fa
}
button.element.logam-transisi:focus {
    border: 3px solid #AFAFFA;
    outline: none;
}
button.element.logam-transisi:hover {
    background-color: #5C5C73;
}
button.element.lantanida{
    background-color: #b0c4de;
}
button.element.lantanida:focus {
    border: 3px solid #5993DE;
    outline: none;
}
button.element.lantanida:hover {
    background-color: #596A80;
}
button.element.aktinida{
    background-color: #ffa07a;
}
button.element.aktinida:focus {
    border: 3px solid #FF804D;
    outline: none;
}
button.element.aktinida:hover {
    background-color: #804933;
}
button.element.unknown{
    background-color: #D3D3D3;
}
button.element.unknown:focus {
    border: 3px solid #7D7D7D;
    outline: none;
}
button.element.unknown:hover {
    background-color: #656565;
}
button.element.metaloid{
    background-color: #fafad2;
}
button.element.metaloid:focus {
    border: 3px solid #FFFF00;
    outline: none;
}
button.element.metaloid:hover {
    background-color: #85855A;
}
button.element.logam-pasca-transisi{
    background-color: #90ee90;
}
button.element.logam-pasca-transisi:focus {
    border: 3px solid #00FF00;
    outline: none;
}
button.element.logam-pasca-transisi:hover {
    background-color: #507950;
}
button.element.gas-mulia{
    background-color: #ffb6c1;
}
button.element.gas-mulia:focus {
    border: 3px solid #FF667D;
    outline: none;
}
button.element.gas-mulia:hover {
    background-color: #714F54;
}
button.element:nth-child(n+2):nth-child(-n+17) {
    visibility: hidden;
}

button.element:nth-child(n+21):nth-child(-n+30) {
    visibility: hidden;
}
button.element:nth-child(n+39):nth-child(-n+48) {
    visibility: hidden;
}

button.element:nth-child(n+127):nth-child(-n+144) {
    visibility: hidden;
}

button.element:nth-child(n+145):nth-child(-n+147) {
    visibility: hidden;
}

button.element:nth-child(n+162):nth-child(-n+162) {
    visibility: hidden;
}

button.element:nth-child(n+163):nth-child(-n+165) {
    visibility: hidden;
}

button.element:nth-child(n+180):nth-child(-n+180) {
    visibility: hidden;
}

.symbol {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.number {
    font-size: 10px;
    margin: 0px;
}

.name {
    font-size: 12px;
    margin: 0px;
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
    width: 100%;                
    display: block;           
}

/* Styling untuk container detail unsur */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.element-details{
    padding: 20px;
    margin-top: -40px;
    margin-left: 40px;
    text-align: left;
}
#element-image{
    width: 85%;
    height: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 
        4px 4px 13px rgba(60, 60, 60, 0.1),
        16px 17px 23px rgba(60, 60, 60, 0.09),
        37px 38px 32px rgba(60, 60, 60, 0.05),
        66px 67px 38px rgba(60, 60, 60, 0.01),
        103px 104px 41px rgba(60, 60, 60, 0);
}
.element-details h1 {
    font-size: 50px;
    margin-bottom: 2px;
    font-weight: 600;
}

.element-details h2 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.element-details h3 {
    color: #fffffa;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-weight: 700;
    margin-top: 60%;
}

.element-details p {
    color: #fffffa;
    font-size: 18px;
    margin: 5px 0;
    font-weight: 600;
}

/* Login/Register */
.register-container, .login-container {
    display: flex;
    height: 100vh;
}

.logo-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-section, .login-section {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fffffa;
    margin: 100px;
    margin-right: 50px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 15px 15px 0 #0A454A;
}

.register-section h2, .login-section h2 {
    text-align: left;
    margin-left: 9.5%;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 4em;
    font-weight: 600;
}

.register-section form, .login-section form {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.register-section label, .login-section label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #0A454A;
    font-weight: 600;
}

.register-section input, .login-section input {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0A454A;
    font-family: 'Montserrat', sans-serif;
    color: #fffffa;
    font-size: 1.2em;
    border: none;
}

.register-section input:-webkit-autofill,
.register-section input:-webkit-autofill:hover,
.register-section input:-webkit-autofill:focus,
.register-section input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #0A454A inset !important;
    -webkit-text-fill-color: #fffffa !important;
    border: none;
    background-color: #0A454A !important;
}

.login-section input:-webkit-autofill,
.login-section input:-webkit-autofill:hover,
.login-section input:-webkit-autofill:focus,
.login-section input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #0A454A inset !important;
    -webkit-text-fill-color: #fffffa !important;
    border: none;
    background-color: #0A454A !important;
}

.register-section button, .login-section button {
    padding: 20px;
    margin-top: 2%;
    background-color: #44A1A0;
    color: #fffffa;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.register-section button:hover, .login-section button:hover {
    background-color: #247B7B;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #0A454A;
    font-weight: 600;
}

.login-link a {
    color: #44A1A0;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.logo-section img {
    max-width: 70%;
    max-height: 70%;
    height: auto;
    width: auto;
}